################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EasySoccer.Mobile/v15/Server/sqlite3
